[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
redis = "*"
pydantic = "*"
discord = "*"
python-dotenv = "*"
django = "*"
psycopg2-binary = "*"
jdatetime = "*"
h1 = "*"

[dev-packages]

[requires]
python_version = "3.9"
